<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<integer>1</integer>
		<key>minorIds</key>
		<array>
			<integer>1</integer>
			<integer>2</integer>
		</array>
		<key>title</key>
		<string>Application Design</string>
		<key>subtitle</key>
		<string>Redesign einer Wetterapplikation</string>
		<key>type</key>
		<string>Projekt</string>
		<key>coverImage</key>
		<string>applicationdesign</string>
		<key>detailSlide</key>
		<string>http://florian-ludwig.de/iks/application/</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>2</integer>
		<key>minorIds</key>
		<array>
			<integer>3</integer>
			<integer>4</integer>
		</array>
		<key>title</key>
		<string>Das Medienlabor</string>
		<key>subtitle</key>
		<string>Der Arbeitsplatz für IG-Studierende</string>
		<key>type</key>
		<string>Ausstattung</string>
		<key>coverImage</key>
		<string>medienlabor</string>
		<key>detailSlide</key>
		<string>http://www.florian-ludwig.de/iks/medienlabor/</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>3</integer>
		<key>minorIds</key>
		<array>
			<integer>5</integer>
			<integer>6</integer>
		</array>
		<key>title</key>
		<string>Und nach dem Studium?</string>
		<key>subtitle</key>
		<string>Der ehemalige Student Thomas Techert gibt Antworten.</string>
		<key>type</key>
		<string>Frage</string>
		<key>coverImage</key>
		<string>zukunftsaussichten</string>
		<key>detailSlide</key>
		<string>interview</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>4</integer>
		<key>minorIds</key>
		<array>
			<integer>7</integer>
			<integer>8</integer>
		</array>
		<key>title</key>
		<string>Bewerbung</string>
		<key>subtitle</key>
		<string> </string>
		<key>type</key>
		<string>Bewerbung</string>
		<key>coverImage</key>
		<string>bewerbung</string>
		<key>detailSlide</key>
		<string>http://florian-ludwig.de/iks/bewerbung/</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>5</integer>
		<key>minorIds</key>
		<array>
			<integer>9</integer>
			<integer>10</integer>
		</array>
		<key>title</key>
		<string>Der Campus</string>
		<key>subtitle</key>
		<string>Gebäude der HfG</string>
		<key>type</key>
		<string>Ausstattung</string>
		<key>coverImage</key>
		<string>campus</string>
		<key>detailSlide</key>
		<string>http://florian-ludwig.de/iks/campus/</string>
	</dict>
</array>
</plist>
