
#base-image {
  width: 375px;
  height: 540px;
  background:url("../img/application/styleguide/picSmall.jpg");
  background-repeat:no-repeat;
  background-size: 375px;
}

#zoom {
  background:url("../img/application/styleguide/picLarge.jpg");
  background-repeat:no-repeat;
  display: block;
  position: absolute;
  height: 125px;
  width: 125px;
  /* Not sure how to deal with bottom edge, but no-repeat prevents weird repeating */
  background-position-y: 0%;
  background-position-x: 0%;
  z-index: 200;
  background-repeat:no-repeat;
  -webkit-background-size: 750px;
  -moz-background-size: 750px;
  -o-background-size: 750px;
  background-size: 750px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  box-shadow: 0px 0px 0px 4px #F2615A, 0px 0px 8px 8px rgba(0, 0, 0, 0.1), 0px 0px 20px 1px rgba(0, 0, 0, 0.25) inset;
  -webkit-box-shadow: 0px 0px 0px 4px #F2615A, 0px 0px 8px 8px rgba(0, 0, 0, 0.1), 0px 0px 20px 1px rgba(0, 0, 0, 0.25) inset;
}
